*{
margin:0px;
padding:0px;
}
body{
background-color:#FFFFFF;
}
.header{
height:120px;
width:auto;
margin-top:40px;
background-image:url("cse_logo.jpg");
background-repeat:no-repeat;
background-position:top;
}
.container{
margin-top:25px;
text-align:center;
font-size:20px;
height:auto;
width:auto;
}
#search{
height:30px;
width:450px;
}
#btn{
margin-top:20px;
height:30px;
width:100px;
}
#result{
font-size:22px;
height:auto;
width:auto;
font-family:"Times New Roman", Times, serif;
margin-top:40px;
margin-left:395px;
text-align:left;
margin-bottom:30px;
}